

.App {
  text-align: left;
}


/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #D9D9D9;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: monospace;
  font-size: 18px;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}


.App-section {
  background-color: #D9D9D9;
  background-size: cover;
  display: flex;
  align-items: left;
  font-family: csPrajad;
  font-size: 18px;
  min-height: 100vh;
  max-height: 100%;
}


.App-link {
  color: #61dafb;
}



/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
